<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/logo/hb_logo_short.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/script/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9087692206614198"
        crossorigin="anonymous"></script>

    <title>cName Review: Best Lightcones, Relics, Teammates, and Build</title>
    <meta name="description"
        content="Explore our cName character review from Honkai: Star Rail. Discover the optimal lighcones, relics, teammates, and build to maximizing cName's potential.">
    <meta name="keywords"
        content="Hoyobuilds, Honkai, Star Rail, cName review, cName build, cName guide, update, cName materials, cName traces, cName, talents, cName technique, cName best lightcones, cName best relics, cName best ornaments, cName teammates, cName playstyle, cName stats, cName ultimate, cName skill, cName eidolon">
    <style>
        #colorTheme {
            background: linear-gradient(0deg, rgba(230, 136, 252, 1) 0%, rgba(181, 75, 213, 1) 100%);
        }

        h3 {
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(270deg, rgba(230, 136, 252, 1) 0%, rgba(181, 75, 213, 1) 100%);
        }
    </style>

</head>

<body onload="socializerLoad()">
    <div class="grid-container">
        <!--Header Start-->
        <div id="inc-header"></div>
        <script>$(function () { $("#inc-header").load("/structure/header.html") });</script>
        <!--Header End-->
        <!--Top Nav Start-->
        <div id="inc-top-nav"></div>
        <script>$(function () { $("#inc-top-nav").load("/structure/top_nav.html") });</script>
        <!--Top Nav End-->
        <!--Side Nav Start-->
        <div id="inc-side-nav"></div>
        <script>$(function () { $("#inc-side-nav").load("/structure/side_nav.html") });</script>
        <!--Side Nav End-->
        <!--Left Ad Start-->
        <div id="inc-left-ad">
            <div class="left-ad"></div>
        </div>
        <!--Left Ad End-->
        <!--Content Area Start-->
        <main onclick="hideSideNav()">

            <!--Content Ad Head Start-->
            <div id="head-content-ad">
                <div class="content-ad"></div>
            </div><!--Content Ad Head End-->

            <!--BACKGROUND SPLASH HERE-->
            <div class="background-splash"><img src="/img/sr/char/cName/cName_splash.webp"
                    alt="Transparent splash art for cName from Star Rail"></div>

            <!--Content Div Start-->
            <div class="main-content-div">

                <!--Content Header Start-->
                <div class="content-header">

                    <!--Page Title Start-->
                    <div class="page-title-article">
                        <!--Title Here-->
                        <h1>cName</h1>
                        <em class="opening-quote">"QUOTE."</em>
                        <!--Text Here-->
                        <p>intro_background</p>
                        <p>intro_playstyle</p>
                        <p>intro_shortcomings</p>
                    </div>
                    <!--Page Title End-->

                    <!--InfoBox Start-->
                    <div class="info-box">
                        <!--Header Table Start-->
                        <table class="table1-info">
                            <tr>
                                <td class="info-box-title" id="colorTheme">cName</td>
                            </tr>
                            <tr>
                                <td class="info-box-img"><img src="/img/sr/char/cName/cName_profile.jpg"
                                        alt="Image of cName from Honkai: Star Rail">
                                </td>
                            </tr>
                        </table>
                        <!--Header Table End-->

                        <!--Content Table Start-->
                        <table class="table2-info">
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Rarity</td>
                                <td class="info-box-value"><img src="/img/sr/icon/sr_5star.png" class="icon_drop_shadow"
                                        alt="Icon for the 5 Star Rating"></td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Path</td>
                                <td class="info-box-value"><img src="/img/sr/icon/Path_The_Destruction.png" class="icon_drop_shadow"
                                        alt="Symbol for the Path of Destruction in Honkai: Star Rail">PATH</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Element</td>
                                <td class="info-box-value"><img src="/img/sr/icon/SR_Lightning.webp" class="icon_drop_shadow"
                                        alt="Symbol for the Lightning Element in Honkai: Star Rail">Lightning</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Faction</td>
                                <td class="info-box-value">FACTION</td>
                            </tr>
                            <!--Copy End New Row-->
                            <tr>
                                <td colspan="2" class="info-box-stats">Base Stats (Lv.80)</td>
                            </tr>
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Hp</td>
                                <td class="info-box-value">hp_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Atk</td>
                                <td class="info-box-value">atk_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Def</td>
                                <td class="info-box-value">def_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Spd</td>
                                <td class="info-box-value">spd_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Taunt</td>
                                <td class="info-box-value">taunt_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                        </table>
                        <!--Content Table End-->

                        <!--Share Table Start-->
                        <table class="table3-info">
                            <tr>
                                <td class="share-label">
                                    Share</td>
                                <td class="share-value">
                                    <div class="socializer" data-features="32px,opacity,icon-dark,bg-none,pad"
                                        data-sites="facebook,twitter,reddit,email"></div>
                                </td>
                            </tr>
                        </table>
                        <!--Share Table End-->
                    </div>
                    <!--InfoBox End-->

                    <!--Table of Content Start-->
                    <div class="table-of-content">
                        <table class="table1-table" id="colorTheme">
                            <tbody>
                                <tr>
                                    <td class="toc-title">Table of Content</td>
                                    <td class="toc-arrow"><img src="/img/icon/table_arrow.png"
                                            alt="Dropdown arrow for the Table of Contents" onclick="tocDropdown()"
                                            class="toc-arrow"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="toc-dropdown" class="toc-dropdown-content">
                            <ol>
                                <li class="toc-h2"><a href="#heading-0">Materials</a>
                                <li class="toc-h3"><a href="#heading-1">Common Drop</a></li>
                                <li class="toc-h3"><a href="#heading-2">Calyx Material</a></li>
                                <li class="toc-h3"><a href="#heading-3">Stagnant Shadow</a></li>
                                <li class="toc-h3"><a href="#heading-4">Echo of War</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-5">Skills &amp; Traces</a>
                                <li class="toc-h3"><a href="#heading-6">Basic Attack</a></li>
                                <li class="toc-h3"><a href="#heading-7">Skill</a></li>
                                <li class="toc-h3"><a href="#heading-8">Ultimate</a></li>
                                <li class="toc-h3"><a href="#heading-9">Talent</a></li>
                                <li class="toc-h3"><a href="#heading-31">Talent Priority</a></li>
                                <li class="toc-h3"><a href="#heading-10">Technique</a></li>
                                <li class="toc-h3"><a href="#heading-11">Traces</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-12">Eidolon</a>
                                <li class="toc-h3"><a href="#heading-13">Eidolon 1</a></li>
                                <li class="toc-h3"><a href="#heading-14">Eidolon 2</a></li>
                                <li class="toc-h3"><a href="#heading-15">Eidolon 3</a></li>
                                <li class="toc-h3"><a href="#heading-16">Eidolon 4</a></li>
                                <li class="toc-h3"><a href="#heading-17">Eidolon 5</a></li>
                                <li class="toc-h3"><a href="#heading-18">Eidolon 6</a></li>
                                <li class="toc-h3"><a href="#heading-19">Eidolon Priority</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-20">Lightcones</a>
                                <li class="toc-h3"><a href="#heading-21"> 5*
                                        Lightcones</a></li>
                                <li class="toc-h3"><a href="#heading-22">4*
                                        Lightcones</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-23">Relics &amp; Ornament</a>
                                <li class="toc-h3"><a href="#heading-24">Desired Stats</a></li>
                                <li class="toc-h3"><a href="#heading-25">Relic Sets</a></li>
                                <li class="toc-h3"><a href="#heading-26">Ornament Sets</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-27">Teammates</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--Table of Content End-->
                </div>
                <!--Content Header End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-0">Materials</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-1">Common Drop</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/sr/mats/immortal_common.webp" class="article-icons"
                                alt="Image of the MATERIAL family common drop material from Honkai: Star Rail">
                            common_drop_no_p
                            ascension_skills_traces

                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-2">Calyx Material</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/sr/mats/blade_trace.webp" class="article-icons"
                                alt="Image of the MATERIAL family calyx material from Honaki: Star Rail">
                            calyx_material_no_p
                            skills_taces
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-3">Stagnant Shadow</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/sr/mats/ascendant_debris.webp" class="article-icons"
                                alt="Image of MATERIAL stagnant shadow material from Honaki: Star Rail">
                            stagnant_shadow_no_p
                            ascension
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-4">Echo of War</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/sr/mats/regret_of_infinite_ochema.webp" class="article-icons"
                                alt="Image of MATERIAL echo of war in Honaki: Star Rail">
                            echo_of_war_no_p
                            traces
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 1 Start-->
                <div id="article-ad-one">

                </div> <!--Article ad 1 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-5">Skills & Traces</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-6">Basic Attack: basic_attack_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/basic.webp"
                                    class="article-icons" alt="Icon for cName's basic attack from Honkai: Star Rail">
                                <p>"basic_attack_description" (Lv.6)</p>
                            </div>
                            <br>
                            <p>basic_attack_article</p>

                            <p>basic_attack_priority</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3">Enhanced Basic Attack: Forest of Swords</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/basic_2.webp"
                                    class="article-icons"
                                    alt="Icon for cName's enhanced basic attack from Honaki: Star Rail">
                                <p>"enhanced_basic_attack_description" (Lv.6)</p>
                            </div>
                            <p>enhanced_basic_attack_article</p>

                            <p>enhanced_basic_attack_priority</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-7">Skill: skill_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/skill.webp"
                                    class="article-icons"
                                    alt="Icon for cName's skill from Honaki: Star Rail">"skill_description" (Lv.10)
                            </div>
                            <!--Paste Sub Article Here-->
                            <p>skill_attack_article_no_variations</p>

                            <p>skill_attack_priority_no_variations</p>
                            <!--Sub Article Start-->
                            <div class="sub-article">
                                <!--Title Here-->
                                <h4 class="press-h4">Single Target/Blast/AoE</h4>
                                <!--Text Here-->
                                <div class="article-description-sub">"skill_v1_description" (Lv.10)</div>
                                <p>skill_v1_article</p>
                                <p>skill_priority</p>
                            </div>
                            <!--Sub Article End-->
                            <!--Sub Article Start-->
                            <div class="sub-article">
                                <!--Title Here-->
                                <h4 class="after-h4">Single Target/Blast/AoE</h4>
                                <!--Text Here-->
                                <div class="article-description-sub">"skill_v2_description" (Lv.10)</div>
                                <p>skill_v2_article</p>
                                <p>skill_priority</p>
                            </div>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-8">Ultimate: ultimate_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/ult.webp"
                                    class="article-icons"
                                    alt="Icon for cName's ultimate from Honkai: Star Rail"><strong>Energy Cost:
                                    num_keep_space </strong>
                                "ultimate_description" (Lv.10)</div>
                            <!--Sub Article Start-->
                            <p>skill_attack_article_no_variations</p>

                            <p>skill_attack_priority_no_variations</p>
                            <div class="sub-article">
                                <!--Title Here-->
                                <h4 class="press-h4">Single Target/Blast/AoE</h4>
                                <!--Text Here-->
                                <div class="article-description-sub">"ultimate_v1_description" (Lv.10)</div>
                                <p>ultimate_v1_article</p>
                                <p>ultimate_priority</p>
                            </div>
                            <!--Sub Article End-->
                            <!--Sub Article Start-->
                            <div class="sub-article">
                                <!--Title Here-->
                                <h4 class="after-h4">Single Target/Blast/AoE</h4>
                                <!--Text Here-->
                                <div class="article-description-sub">"ultimate_v2_description" (Lv.10)</div>
                                <p>ultimate_v2_article</p>
                                <p>ultimate_priority</p>
                            </div>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-9">Talent: talent_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Paste Sub Article Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/talent.webp"
                                    class="article-icons"
                                    alt="Icon for cName's talent from Honkai: Star Rail">"talent_description" (Lv.10)
                            </div>
                            <p>talent_article</p>

                            <p>talent_priority</p>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-31">Overall Talent Priority</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div>talent_overall_article</div>

                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-10">Technique: technique_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Paste Sub Article Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/tech.webp"
                                    class="article-icons"
                                    alt="Icon for cName's technique from Honkai: Star Rail">"technique_description"
                            </div>
                            <p>technique_article</p>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-11">Traces</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <h4 class="first-h4"><img src="/img/sr/char/cName/a2.webp" class="article-icons"
                                    alt="Icon for cName's first trace from Honkai: Star Rail">Branch 1: branch_1_name
                            </h4>
                            <!--Text Here-->
                            <div class="article-description-sub">"branch_1_description"
                            </div>
                            <div class="weapon-description">
                                <p><strong>stat: </strong>+num%</p>
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <p>branch_1_article</p>

                            <h4 class="after-h4"><img src="/img/sr/char/cName/a4.webp" class="article-icons"
                                    alt="Icon for cName's second trace from Honkai: Star Rail">Branch 2: branch_2_name
                            </h4>
                            <!--Text Here-->
                            <div class="article-description-sub">"branch_2_description"
                            </div>
                            <div class="weapon-description">
                                <p><strong>stat: </strong>+num%</p>
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <p>branch_2_article</p>

                            <h4 class="after-h4"><img src="/img/sr/char/cName/a6.webp" class="article-icons"
                                    alt="Icon for cName's third trace from Honkai: Star Rail">Branch 3: branch_3_name
                            </h4>
                            <!--Text Here-->
                            <div class="article-description-sub">"branch_3_description"
                            </div>
                            <div class="weapon-description">
                                <p><strong>stat: </strong>+num%</p>
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <p>branch_3_article</p>

                            <h4 class="after-h4">Stat Only Branchs</h4>
                            <!--Text Here-->
                            <div class="weapon-description">
                                <p><strong>stat: </strong>+num%</p>
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                            <div class="article-description-sub"><strong>stat: </strong>+num%
                            </div>
                        </div>
                    </div>
                </div>
                <!--Line Title End-->


                <!--Article ad 2 Start-->
                <div id="article-ad-two">

                </div> <!--Article ad 2 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-12">Eidolon</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-13">Eidolon 1: eidolon_1_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/e1.webp"
                                    class="article-eidolon"
                                    alt="Image of cName's first eidolon from Honkai: Star Rail">"eidolon_1_description"
                            </div>
                            <p>eidolon_1_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-14">Eidolon 2: eidolon_2_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/e2.webp"
                                    class="article-eidolon"
                                    alt="Image of cName's second eidolon from Honkai: Star Rail">"eidolon_2_description"
                            </div>
                            <p>eidolon_2_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-15">Eidolon 3: eidolon_3_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/e3.webp"
                                    class="article-eidolon"
                                    alt="Image of cName's third eidolon from Honkai: Star Rail">"eidolon_3_description"
                            </div>
                            <p>eidolon_3_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-16">Eidolon 4: eidolon_4_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/e4.webp"
                                    class="article-eidolon"
                                    alt="Image of cName's fourth eidolon from Honkai: Star Rail">"eidolon_4_description"
                            </div>
                            <p>eidolon_4_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-17">Eidolon 5: eidolon_5_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/e5.webp"
                                    class="article-eidolon"
                                    alt="Image of cName's fifth eidolon from Honkai: Star Rail">"eidolon_5_description"
                            </div>
                            <p>eidolon_5_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-18">Eidolon 6: eidolon_6_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/char/cName/e6.webp"
                                    class="article-eidolon"
                                    alt="Image of cName's sixth eidolon from Honkai: Star Rail">"eidolon_6_description"
                            </div>
                            <p>eidolon_6_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-19">Eidolon Final Thoughts</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div>eidolon_overall_article</div>

                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 2 Start-->
                <div id="article-ad-two">

                </div> <!--Article ad 2 End-->


                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-20">Lightcones</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-21"><img src="/img/sr/icon/sr_5star.png" class="icon_drop_shadow"
                            alt="Icon for 5 star rarity in Honkai: Star Rail"> 5*
                        Lightcones</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="first-h4"><img src="/img/sr/lightcones/lightcone_name.webp"
                                    class="article-lightcone"
                                    alt="Image of NAME lightcone from Honkai: Star Rail">5_lightcone_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>HP: </strong>hp
                                <br><strong>ATK: </strong>atk
                                <br><strong>DEF: </strong>def
                            </div>
                            <div class="weapon-description">
                                <p><strong>5_lightcone_passive_name: </strong>(Si1) "5_lightcone_description"</p>
                            </div>

                            <p>5_lightcone_article</p>
                            <!--Sub Article End-->
                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="after-h4"><img src="/img/sr/lightcones/lightcone_name.webp"
                                    class="article-lightcone"
                                    alt="Image of NAME lightcone from Honkai: Star Rail">5_lightcone_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>HP: </strong>hp
                                <br><strong>ATK: </strong>atk
                                <br><strong>DEF: </strong>def
                            </div>
                            <div class="weapon-description">
                                <p><strong>5_lightcone_passive_name: </strong>(Si1) "5_lightcone_description"</p>
                            </div>

                            <p>5_lightcone_article</p>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-22"><img src="/img/sr/icon/sr_4star.png" class="icon_drop_shadow" alt="Icon for 4 star rarity in Honkai: Star Rail">4*
                        Lightcones</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="first-h4"><img src="/img/sr/lightcones/lightcone_name.webp"
                                    class="article-lightcone"
                                    alt="Image of NAME lightcone from Honkai: Star Rail">4_lightcone_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>HP: </strong>hp
                                <br><strong>ATK: </strong>atk
                                <br><strong>DEF: </strong>def
                            </div>
                            <div class="weapon-description">
                                <p><strong>4_lightcone_passive_name: </strong>(Si5) "4_lightcone_description"</p>
                            </div>

                            <p>4_lightcone_article</p>
                            <!--Sub Article End-->
                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="after-h4"><img src="/img/sr/lightcones/lightcone_name.webp"
                                    class="article-lightcone"
                                    alt="Image of NAME lightcone from Honkai: Star Rail">4_lightcone_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>HP: </strong>hp
                                <br><strong>ATK: </strong>atk
                                <br><strong>DEF: </strong>def
                            </div>
                            <div class="weapon-description">
                                <p><strong>4_lightcone_passive_name: </strong>(Si5) "4_lightcone_description"</p>
                            </div>

                            <p>4_lightcone_article</p>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 3 Start-->
                <div id="article-ad-three">

                </div> <!--Article ad 3 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-23">Relics & Ornament</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-24">Desired Stats</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <h4 class="first-h4"><img src="/img/sr/relic/body.webp" class="article-icons"
                                    alt="Icon for the body relic slot in Honkai: Star Rail">Body</h4>
                            <div class="article-description-sub"><strong>Main Stat: </strong>HP% > ATK% > DEF% > Crit
                                Rate% > Crit Dmg% > Healing
                                Boost% > Effect Hit Rate%
                            </div>
                            <p>body_relic_article</p>

                            <h4 class="after-h4"><img src="/img/sr/relic/feet.webp" class="article-icons"
                                    alt="Icon for the feet relic slot in Honkai: Star Rail">Feet</h4>
                            <div class="article-description-sub"><strong>Main Stat: </strong>HP% > ATK% > DEF% > SPD
                            </div>
                            <p>feet_relic_article</p>

                            <h4 class="after-h4"><img src="/img/sr/relic/sphere.webp" class="article-icons"
                                    alt="Icon for the planar sphere relic slot in Honkai: Star Rail">Planar Sphere</h4>
                            <div class="article-description-sub"><strong>Main Stat: </strong>HP% > ATK% > DEF% >
                                Elemental Dmg%
                            </div>
                            <p>sphere_relic_article</p>

                            <h4 class="after-h4"><img src="/img/sr/relic/rope.webp" class="article-icons"
                                    alt="Icon for the link rope relic slot in Honkai: Star Rail">Link Rope</h4>
                            <div class="article-description-sub"><strong>Main Stat: </strong>HP% > ATK% > DEF% > Break
                                Effect% > Energy Regen%
                            </div>
                            <p>rope_relic_article</p>

                            <h4 class="after-h4">Sub Stats</h4>
                            <div class="article-description-sub"><strong>Speed Target: </strong>121 = 1, 6 | 134 = 0, 3,
                                6 | 147 = 0, 2, 4, 6 | 161 = 0, 1, 3, 5, 6
                            </div>
                            <div class="article-description-sub">HP% > ATK% > DEF% > SPD > Effect Hit Rate% > Crit Rate%
                                > Crit Dmg% > Effect Res% > Break Effect%
                            </div>
                            <p>sub_stat_article</p>

                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-25">cavern_relic_set_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/relic/relic_set_icon.webp"
                                    class="article-icons"
                                    alt="Icon for the NAME relic set from Honkai: Star Rail"><strong>2pc Effect:
                                </strong>"2_piece_description"
                                <br><strong>4pc Set Effect: </strong>"4_piece_description"
                            </div>
                            <p>artifact_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3>cavern_relic_set_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/relic/relic_set_icon.webp"
                                    class="article-icons"
                                    alt="Icon for the NAME relic set from Honkai: Star Rail"><strong>2pc Effect:
                                </strong>"2_piece_description"
                                <br><strong>4pc Set Effect: </strong>"4_piece_description"
                            </div>
                            <p>artifact_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-26">planar_ornament_set_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/relic/relic_set_icon.webp"
                                    class="article-icons"
                                    alt="Icon for the NAME relic set from Honkai: Star Rail"><strong>2pc Effect:
                                </strong>"2_piece_description"
                            </div>
                            <p>artifact_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3>planar_ornament_set_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/sr/relic/relic_set_icon.webp"
                                    class="article-icons"
                                    alt="Icon for the NAME relic set from Honkai: Star Rail"><strong>2pc Effect:
                                </strong>"2_piece_description"
                            </div>
                            <p>artifact_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 4 Start-->
                <div id="article-ad-four">

                </div> <!--Article ad 4 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-27">Teammates</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Line Title Start-->
                    <div class="article">
                        <!--Title Here-->
                        <h3 class="first-h3">teammate_type</h3>
                        <div class="content-article">
                            <div class="h3-block" id="colorTheme"></div>
                            <div class="content-text">
                                <!--Text Here-->
                                teammate_article_no_p
                                <p>teammate_article_2</p>
                                <!--Paste Sub Article Here-->
                                <!--Sub Article Start-->
                            </div>
                        </div>
                    </div>
                    <!--Line Title End-->

                    <!--Title Here-->
                    <h3>teammate_type</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            teammate_article_no_p
                            <p>teammate_article_2</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>


                </div>
            </div>
            <!--Content Div End-->
            <!--Content Ad Tail Start-->
            <div id="tail-content-ad">
                <div class="content-ad"></div>
            </div><!--Content Ad Tail End-->
        </main>
        <!--Content Area End-->
        <!--Right Ad Start-->
        <div id="inc-right-ad">
            <div class="right-ad"></div>
        </div> <!--Right Ad End-->
        <!--Footer Start-->
        <div id="inc-footer"></div>
        <script>$(function () { $("#inc-footer").load("/structure/footer.html") });</script>
        <!--Footer End-->
    </div>
</body>
</html>