<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/logo/hb_logo_short.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/script/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9087692206614198"
        crossorigin="anonymous"></script>

    <title>cName Review: Best Weapons, Artifacts, Teammates, and Build</title>
    <meta name="description"
    content="Explore our cName character review from Genshin Impact. Discover the optimal weapons, artifacts, teammates, and build to maximizing cName's potential.">
<meta name="keywords"
    content="Hoyobuilds, Genshin Impact, Genshin, cName review, cName build, cName guide, update, cName materials, cName talents, cName best weapons, cName best artifacts, cName teammates, cName rotation, cName playstyle, cName stats, cName burst, cName skill, cName constellation">
    <style>
        /*Page Color Theme Start*/
        #colorTheme {
            background-color: #75C3AA;
        }

        h3 {
            border-bottom: 1px solid #75C3AA;
        }

        /*Page Color Theme End*/
    </style>
<body onload="socializerLoad()">
    <div class="grid-container">
        <!--Header Start-->
        <div id="inc-header"></div>
        <script>$(function () { $("#inc-header").load("/structure/header.html") });</script>
        <!--Header End-->
        <!--Top Nav Start-->
        <div id="inc-top-nav"></div>
        <script>$(function () { $("#inc-top-nav").load("/structure/top_nav.html") });</script>
        <!--Top Nav End-->
        <!--Side Nav Start-->
        <div id="inc-side-nav"></div>
        <script>$(function () { $("#inc-side-nav").load("/structure/side_nav.html") });</script>
        <!--Side Nav End-->
        <!--Left Ad Start-->
        <div id="inc-left-ad">
            <div class="left-ad"></div>
        </div>
        <!--Left Ad End-->
        <!--Content Area Start-->
        <main onclick="hideSideNav()">

            <!--Content Ad Head Start-->
            <div id="head-content-ad">
                <div class="content-ad"></div>
            </div><!--Content Ad Head End-->

            <!--BACKGROUND SPLASH HERE-->
            <div class="background-splash"><img src="/img/gi/char/cName/splash.png"
                    alt="Transparent splash art for cName from Genshin Impact"></div>

            <!--Content Div Start-->
            <div class="main-content-div">

                <!--Content Header Start-->
                <div class="content-header">

                    <!--Page Title Start-->
                    <div class="page-title-article">
                        <!--Title Here-->
                        <h1>cName</h1>
                        <em class="opening-quote">"QUOTE"</em>
                        <!--Text Here-->
                        <p>intro_background</p>
                        <p>intro_playstyle</p>
                        <p>intro_shortcomings</p>
                    </div>
                    <!--Page Title End-->

                    <!--InfoBox Start-->
                    <div class="info-box">
                        <!--Header Table Start-->
                        <table class="table1-info">
                            <tr>
                                <td class="info-box-title" id="colorTheme">cName</td>
                            </tr>
                            <tr>
                                <td class="info-box-category">character_title</td>
                            </tr>
                            <tr>
                                <td class="info-box-img"><img src="/img/gi/char/cName/profile.png"
                                        alt="Image of cName from Genshin Impact">
                                </td>
                            </tr>
                        </table>
                        <!--Header Table End-->

                        <!--Content Table Start-->
                        <table class="table2-info">
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Rarity</td>
                                <td class="info-box-value"><img src="/img/gi/icon/gi_5star.png" class="icon_drop_shadow"
                                        alt="Icon for the 5 Star Rating"></td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Element</td>
                                <td class="info-box-value"><img src="/img/gi/icon/anemo.png" class="icon_drop_shadow"
                                        alt="Icon for the anemo element in Genshin Impact">Anemo</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Weapon</td>
                                <td class="info-box-value"><img src="/img/gi/icon/Icon_Bow.png" class="icon_drop_shadow"
                                        alt="Symbol for the Bow type in Genshin Impact">Bow</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Nation</td>
                                <td class="info-box-value"><img src="/img/gi/icon/Emblem_Mondstadt_transparent.webp"
                                        class="icon_drop_shadow" alt="Symbol for Inazuma in Genshin Impact">Mondstadt
                                </td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Birthdate</td>
                                <td class="info-box-value">birth_date</td>
                            </tr>
                            <!--Copy End New Row-->
                            <tr>
                                <td colspan="2" class="info-box-stats">Base Stats (Lv.90)</td>
                            </tr>
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Hp</td>
                                <td class="info-box-value">hp_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Atk</td>
                                <td class="info-box-value">atk_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Def</td>
                                <td class="info-box-value">def_stat</td>
                            </tr>
                            <!--Copy End New Row-->
                            <!--Copy Start New Row-->
                            <tr>
                                <td class="info-box-label">Ascension</td>
                                <td class="info-box-value">ascension_stat: stat_value</td>
                            </tr>
                            <!--Copy End New Row-->
                        </table>
                        <!--Content Table End-->

                        <!--Share Table Start-->
                        <table class="table3-info">
                            <tr>
                                <td class="share-label">
                                    Share</td>
                                <td class="share-value">
                                    <div class="socializer" data-features="32px,opacity,icon-dark,bg-none,pad"
                                        data-sites="facebook,twitter,reddit,email"></div>
                                </td>
                            </tr>
                        </table>
                        <!--Share Table End-->
                    </div>
                    <!--InfoBox End-->

                    <!--Table of Content Start-->
                    <div class="table-of-content">
                        <table class="table1-table" id="colorTheme">
                            <tbody>
                                <tr>
                                    <td class="toc-title">Table of Content</td>
                                    <td class="toc-arrow"><img src="/img/icon/table_arrow.png"
                                            alt="Dropdown arrow for the Table of Contents" onclick="tocDropdown()"
                                            class="toc-arrow"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="toc-dropdown" class="toc-dropdown-content">
                            <ol>
                                <li class="toc-h2"><a href="#heading-0">Materials</a>
                                <li class="toc-h3"><a href="#heading-1">Common Drop</a></li>
                                <li class="toc-h3"><a href="#heading-2">Local Speciality</a></li>
                                <li class="toc-h3"><a href="#heading-3">Talent Book</a></li>
                                <li class="toc-h3"><a href="#heading-4">Normal Boss</a></li>
                                <li class="toc-h3"><a href="#heading-9">Weekly Boss</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-5">Talents</a>
                                <li class="toc-h3"><a href="#heading-6">Normal Attack</a></li>
                                <li class="toc-h3"><a href="#heading-7">Skill</a></li>
                                <li class="toc-h3"><a href="#heading-8">Burst</a></li>
                                <li class="toc-h3"><a href="#heading-31">Talent Priority</a></li>
                                <li class="toc-h3"><a href="#heading-10">Passive Talents</a></li>
                                <li class="toc-h3"><a href="#heading-32">Rotation</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-12">Constellation</a>
                                <li class="toc-h3"><a href="#heading-13">Constellation 1</a></li>
                                <li class="toc-h3"><a href="#heading-14">Constellation 2</a></li>
                                <li class="toc-h3"><a href="#heading-15">Constellation 3</a></li>
                                <li class="toc-h3"><a href="#heading-16">Constellation 4</a></li>
                                <li class="toc-h3"><a href="#heading-17">Constellation 5</a></li>
                                <li class="toc-h3"><a href="#heading-18">Constellation 6</a></li>
                                <li class="toc-h3"><a href="#heading-19">Constellation Priority</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-20">Weapons</a>
                                <li class="toc-h3"><a href="#heading-21"> 5*
                                        Weapons</a></li>
                                <li class="toc-h3"><a href="#heading-22">4*
                                        Weapons</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-23">Artifacts</a>
                                <li class="toc-h3"><a href="#heading-24">Desired Stats</a></li>
                                <li class="toc-h3"><a href="#heading-25">Artifact Sets</a></li>
                                </li>
                                <li class="toc-h2"><a href="#heading-27">Teammates</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--Table of Content End-->
                </div>
                <!--Content Header End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-0">Materials</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-1">Common Drop</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/gi/mat/handguard.webp" class="article-icons"
                                alt="Image of MATERIAL common drop material from Genshin Impact">
                            common_drop_no_p
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-2">Local Specialty</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/gi/mat/amakumo_fruit.webp" class="article-icons"
                                alt="Image of MATERIAL local specialty from Genshin Impact">
                            local_specialty_no_p
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-3">Talent Book</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/gi/mat/light_talent.webp" class="article-icons"
                                alt="Image of MATERIAL talent material from Genshin Impact">
                            talent_book_no_p
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-4">Normal Boss</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/gi/mat/storm_beads.webp" class="article-icons"
                                alt="Image of MATERIAL normal boss material from Genshin Impact">
                            normal_boss_no_p
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-9">Weekly Boss</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <img src="/img/gi/mat/molten_moment.webp" class="article-icons"
                                alt="Image of MATERIAL weekly boos material from Genshin Impact">
                            weekly_boss_no_p
                            <!--Paste Sub Article Here-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 1 Start-->
                <div id="article-ad-one">

                </div> <!--Article ad 1 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-5">Talents</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-6">Normal Attack: normal_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/normal.webp"
                                    class="article-icons" alt="Icon for cName's normal attack in Genshin Impact">
                                <p><strong>Normal Attack: </strong>"normal_description"</p>
                            </div>

                            <div class="article-description">
                                <p><strong>Charged Attack: </strong>"charged_description"</p>
                            </div>

                            <div class="article-description">
                                <p><strong>Plunging Attack: </strong>"plunging_description"</p>
                            </div>
                            <p>normal_talent_article</p>

                            <p>normal_talent_priority</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-7">Elemental Skill: skill_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/skill.webp"
                                    class="article-icons"
                                    alt="Icon for cName's skill in Genshin Impact">"skill_description"</div>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                            <div class="sub-article"><!--IF NO PRESS OR HOLD, DELETE THIS DIV-->
                                <!--Title Here-->
                                <h4 class="press-h4">Press</h4>
                                <!--Text Here-->
                                <div class="article-description-sub">"press_description"</div>

                                <p>press_article</p>
                            </div>
                            <!--Sub Article End-->
                            <!--Sub Article Start-->
                            <div class="sub-article">
                                <!--Title Here-->
                                <h4 class="after-h4">Hold</h4>
                                <!--Text Here-->
                                <div class="article-description-sub">"hold_description"</div>
                                <p>hold_article</p>
                                <p>skill_priority</p>
                            </div>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-8">Elemental Burst: burst_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/burst.webp"
                                    class="article-icons" alt="Icon for cName's burst in Genshin Impact"><strong>Energy
                                    Cost: num_keep_space </strong>"burst_description"</div>
                            <p>burst_article</p>
                            <p>burst_article</p>
                            <p>burst_priority</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-31">Overall Talent Priority</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description">overall_talent_list</div>

                            <p>overall_talent_article</p>

                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-10">Passive Talents</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Paste Sub Article Here-->

                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="first-h4">utility_passive_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><img src="/img/gi/char/cName/passive_1.webp"
                                    class="article-icons"
                                    alt="Icon for cName's first passive in Genshin Impact">"utility_description"</div>
                            <p>utility_article</p>
                            <!--Sub Article End-->

                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="after-h4">a1_passive_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><img src="/img/gi/char/cName/passive_2.webp"
                                    class="article-icons"
                                    alt="Icon for cName's second passive in Genshin Impact">"a1_description"</div>
                            <p>a1_article</p>
                            <!--Sub Article End-->

                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="after-h4">a4_passive_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><img src="/img/gi/char/cName/passive_3.webp"
                                    class="article-icons"
                                    alt="Icon for cName's third passive in Genshin Impact">"a4_description"</div>

                            <p>a4_article</p>

                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-31">Rotation</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div>rotation_steps</div>

                            <p>rotation_article_breakdown</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 2 Start-->
                <div id="article-ad-two">

                </div> <!--Article ad 2 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-12">Constellation</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-13">Constellation 1: constellation_1_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/con_1.webp"
                                    class="article-icons"
                                    alt="Icon for cName's first constellation in Genshin Impact">"constellation_1_description"
                            </div>
                            <p>constellation_1_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-14">Constellation 2: constellation_2_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/con_2.webp"
                                    class="article-icons"
                                    alt="Icon for cName's second constellation in Genshin Impact">"constellation_2_description"
                            </div>
                            <p>constellation_2_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-15">Constellation 3: constellation_3_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/con_3.webp"
                                    class="article-icons"
                                    alt="Icon for cName's third constellation in Genshin Impact">"constellation_3_description"
                            </div>
                            <p>constellation_3_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-16">Constellation 4: constellation_4_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/con_4.webp"
                                    class="article-icons"
                                    alt="Icon for cName's fourth constellation in Genshin Impact">"constellation_4_description"
                            </div>
                            <p>constellation_4_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-17">Constellation 5: constellation_5_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/con_5.webp"
                                    class="article-icons"
                                    alt="Icon for cName's fifth constellation in Genshin Impact">"constellation_5_description"
                            </div>
                            <p>constellation_5_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-18">Constellation 6: constellation_6_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/char/cName/con_6.webp"
                                    class="article-icons"
                                    alt="Icon for cName's sixth constellation in Genshin Impact">"constellation_6_description"
                            </div>
                            <p>constellation_6_article</p>
                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-19">Constellation Final Thoughts</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div>constellation_overall_article</div>

                            <!--Paste Sub Article Here-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 2 Start-->
                <div id="article-ad-two">

                </div> <!--Article ad 2 End-->


                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-20">Weapons</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-21"><img src="/img/gi/icon/gi_5star.png" class="icon_drop_shadow"
                            alt="Symbol for 5 star rarity in Genshin Impact"> 5*
                        Weapons</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="first-h4"><img src="/img/gi/weapons/engulfing_lightning.webp"
                                    class="article-weapon"
                                    alt="Image of the weapon NAME from Genshin Impact">5_weapon_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>Base ATK: </strong>atk
                                <br><strong>Sub Stat: </strong>stat_num stat_type
                            </div>
                            <div class="weapon-description">
                                <p><strong>5_weapon_passive_name: </strong>(R1) "5_weapon_description"</p>
                            </div>

                            <p>5_weapon_article</p>
                            <!--Sub Article End-->
                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="after-h4"><img src="/img/gi/weapons/engulfing_lightning.webp"
                                    class="article-weapon"
                                    alt="Image of the weapon NAME from Genshin Impact">5_weapon_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>Base ATK: </strong>atk
                                <br><strong>Sub Stat: </strong>stat_num stat_type
                            </div>
                            <div class="weapon-description">
                                <p><strong>5_weapon_passive_name: </strong>(R1) "5_weapon_description"</p>
                            </div>

                            <p>5_weapon_article</p>
                            <!--Sub Article End-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-22"><img src="/img/gi/icon/gi_4star.png" class="icon_drop_shadow"
                            alt="Icon for 5 star rarity in Genshin ImpactSymbol for 4 star rarity in Genshin Impact">4*
                        Weapons</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">

                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="first-h4"><img src="/img/gi/weapons/engulfing_lightning.webp"
                                    class="article-weapon"
                                    alt="Image of the weapon NAME from Genshin Impact">4_weapon_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>Base ATK: </strong>atk
                                <br><strong>Sub Stat: </strong>stat_num stat_type
                            </div>
                            <div class="weapon-description">
                                <p><strong>4_weapon_passive_name: </strong>(R5) "4_weapon_description"</p>
                            </div>
                            <p>4_weapon_article</p>
                            <!--Sub Article End-->

                            <!--Sub Article Start-->
                            <!--Title Here-->
                            <h4 class="after-h4"><img src="/img/gi/weapons/engulfing_lightning.webp"
                                    class="article-weapon"
                                    alt="Image of the weapon NAME from Genshin Impact">4_weapon_name</h4>
                            <!--Text Here-->
                            <div class="article-description-sub"><strong>Base ATK: </strong>atk
                                <br><strong>Sub Stat: </strong>stat_num stat_type
                            </div>
                            <div class="weapon-description">
                                <p><strong>4_weapon_passive_name: </strong>(R5) "4_weapon_description"</p>
                            </div>
                            <p>4_weapon_article</p>
                            <!--Sub Article End-->

                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 3 Start-->
                <div id="article-ad-three">

                </div> <!--Article ad 3 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-23">Artifacts</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 class="first-h3" id="heading-24">Desired Stats</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <h4 class="first-h4"><img src="/img/gi/icon/Icon_Sands_of_Eon.webp" class="article-icons"
                                    alt="Icon for the Sands of Eon artifact slot in Genshin Impact">Sands of Eon</h4>
                            <!--Text Here-->
                            <div class="article-description-sub">HP% > ATK% > DEF% > EM > Energy Recharge%
                            </div>
                            <p>sands_article</p>

                            <h4 class="after-h4"><img src="/img/gi/icon/Icon_Goblet_of_Eonothem.webp"
                                    class="article-icons"
                                    alt="Icon for the Goblet of Eonothem artifact slot in Genshin Impact">Goblet of
                                Eonothem</h4>
                            <!--Text Here-->
                            <div class="article-description-sub">HP% > ATK% > DEF% > EM > Element Dmg%
                            </div>
                            <p>goblet_article</p>

                            <h4 class="after-h4"><img src="/img/gi/icon/Icon_Circlet_of_Logos.webp"
                                    class="article-icons"
                                    alt="Icon for the Circlet of Logos artifact slot in Genshin Impact">Circlet of Logos
                            </h4>
                            <!--Text Here-->
                            <div class="article-description-sub">HP% > ATK% > DEF% > EM > Crit Rate% > Crit Dmg% >
                                Healing%
                            </div>
                            <p>circlet_article</p>

                            <h4 class="after-h4">Sub Stats</h4>
                            <!--Text Here-->
                            <div class="article-description-sub">HP% > ATK% > DEF% > EM > Crit Rate% > Crit Dmg% >
                                Energy Recharge%
                            </div>
                            <p>desired_stats_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3 id="heading-25">artifact_set_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/arti/emblem_of_severed_fate.webp"
                                    class="article-icons"
                                    alt="Icon for the NAME artifact set in Genshin Impact"><strong>2-Pieces:
                                </strong>"2_piece_description"
                                <br><strong>4-Pieces: </strong>"4_piece_description"
                            </div>
                            <p>artifact_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Title Here-->
                    <h3>artifact_set_name</h3>
                    <div class="content-article">
                        <div class="h3-block" id="colorTheme"></div>
                        <div class="content-text">
                            <!--Text Here-->
                            <div class="article-description"><img src="/img/gi/arti/emblem_of_severed_fate.webp"
                                    class="article-icons"
                                    alt="Icon for the NAME artifact set in Genshin Impact"><strong>2-Pieces:
                                </strong>"2_piece_description"
                                <br><strong>4-Pieces: </strong>"4_piece_description"
                            </div>
                            <p>artifact_article</p>
                            <!--Paste Sub Article Here-->
                            <!--Sub Article Start-->
                        </div>
                    </div>
                </div>
                <!--Line Title End-->

                <!--Article ad 4 Start-->
                <div id="article-ad-four">

                </div> <!--Article ad 4 End-->

                <!--Parallelogram Title Start-->
                <div class="parallelogram-title" id="colorTheme">
                    <h2 id="heading-27">Teammates</h2>
                </div>
                <!--Text Here-->
                <!--Parallelogram Title End-->

                <!--Line Title Start-->
                <div class="article">
                    <!--Line Title Start-->
                    <div class="article">
                        <!--Title Here-->
                        <h3 class="first-h3">teammate_type</h3>
                        <div class="content-article">
                            <div class="h3-block" id="colorTheme"></div>
                            <div class="content-text">
                                <!--Text Here-->
                                teammate_article_no_p
                                <p>teammate_article_2</p>
                                <!--Paste Sub Article Here-->
                                <!--Sub Article Start-->
                            </div>
                        </div>
                    </div>
                    <!--Line Title End-->

                    <!--Line Title Start-->
                    <div class="article">
                        <!--Line Title Start-->
                        <div class="article">
                            <!--Title Here-->
                            <h3 class="after-h3">teammate_type</h3>
                            <div class="content-article">
                                <div class="h3-block" id="colorTheme"></div>
                                <div class="content-text">
                                    <!--Text Here-->
                                    teammate_article_no_p
                                    <p>teammate_article_2</p>
                                    <!--Paste Sub Article Here-->
                                    <!--Sub Article Start-->
                                </div>
                            </div>
                        </div>
                        <!--Line Title End-->

                    </div>
                    <!--Content Div End-->
                    <!--Content Ad Tail Start-->
                    <div id="tail-content-ad">
                        <div class="content-ad"></div>
                    </div><!--Content Ad Tail End-->
        </main>
        <!--Content Area End-->
        <!--Right Ad Start-->
        <div id="inc-right-ad">
            <div class="right-ad"></div>
        </div> <!--Right Ad End-->
        <!--Footer Start-->
        <div id="inc-footer"></div>
        <script>$(function () { $("#inc-footer").load("/structure/footer.html") });</script>
        <!--Footer End-->
    </div>
</body>
</head>



</html>