<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/logo/hb_logo_short.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/script/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9087692206614198"
        crossorigin="anonymous"></script>

    <title>cName Review: Best Weapons, Artifacts, Teammates, and Build</title>
    <meta name="description"
    content="Explore our cName character review from Genshin Impact. Discover the optimal weapons, artifacts, teammates, and build to maximizing cName's potential.">
<meta name="keywords"
    content="Hoyobuilds, Genshin Impact, Genshin, cName review, cName build, cName guide, update, cName materials, cName talents, cName best weapons, cName best artifacts, cName teammates, cName rotation, cName playstyle, cName stats, cName burst, cName skill, cName constellation">
    <style>
        /*Page Color Theme Start*/
        #colorTheme {
            background-color: #4BC3F1;
        }

        h3 {
            border-bottom: 1px solid #4BC3F1;
        }

        /*Page Color Theme End*/
    </style>

</head>



</html>