<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/logo/hb_logo_short.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/script/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9087692206614198"
        crossorigin="anonymous"></script>

    <title>cName Review: Best Lightcones, Relics, Teammates, and Build</title>
    <meta name="description"
        content="Explore our cName character review from Honkai: Star Rail. Discover the optimal lighcones, relics, teammates, and build to maximizing cName's potential.">
    <meta name="keywords"
        content="Hoyobuilds, Honkai, Star Rail, cName review, cName build, cName guide, update, cName materials, cName traces, cName, talents, cName technique, cName best lightcones, cName best relics, cName best ornaments, cName teammates, cName playstyle, cName stats, cName ultimate, cName skill, cName eidolon">
    <style>
        #colorTheme {
            background: linear-gradient(0deg, rgba(230, 136, 252, 1) 0%, rgba(181, 75, 213, 1) 100%);
        }

        h3 {
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(270deg, rgba(230, 136, 252, 1) 0%, rgba(181, 75, 213, 1) 100%);
        }
    </style>
</head>


</html>